body {
    margin: 8px;
    padding: 0;
    font-size: 12pt;
    font-family: Verdana, Arial;
}

h1 {
    color: gray;
}

h2 {
    color: gray;
    font-style: italic;
}

a {
    color: black;
    text-decoration: underline;
}
