h4.acceptance-criteria {
    font-style: italic;
    text-transform: unset;
}

.acceptance-criteria:before {
    content: "«"
}

.acceptance-criteria:after {
    content: "»"
}

.hidden {
    display: none;
}

.hideDashboard {
    width: 100%;
    border: 0;
    position: absolute;
    left: 0;
    top: -148px;
    z-index: 99;
    animation-name: downtop;
    animation-duration: 1s;
}

@keyframes downtop {
    from {top: 0;}
    to {top: -148px;}
}

.showDashboard {
    width: 100%;
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    animation-name: topdown;
    animation-duration: 1s;
}

@keyframes topdown {
    from {top: -128px;}
    to {top: 0;}
}

body.dashboard {
    margin: 0;
    padding: 0;
}

td.report {
    font-family: verdana, arial;
    font-size: 2em;
    color: #157EFB;
}

.clickable {
    cursor: pointer;
}

a {
    color: #157EFB;
    text-decoration: none;
}

div.eslint-overlay  {
    position: absolute;
    font-family: verdana, arial;
    font-size: 3em;
    color: #C1E2EB;
    left: 80px;
    top: 80px;
    text-shadow: -2px 0 #157EFB, 0 2px #157EFB, 2px 0 #157EFB, 0 -2px #157EFB;
}

div#eslint-test  {
    left: 206px;
}

a.ref {
    display: inline-block;
    width: 48px;
    height: 48px;
}

a.updated {
    background-color: rgba(255, 255, 192, 0.5);
    border-radius: 24px;
}
