code {
    display: block;
    font-family: courier, sans-serif;
}

code div.line {
    height: 32px;
}

code.javascript span.eslint-error {
    position: relative;
    cursor: pointer;
}

code.javascript span.eslint-error:before {
    content: "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~";
    font-size: 0.6em;
    font-weight: 700;
    font-family: Times New Roman, Serif;
    color: red;
    width: 100%;
    position: absolute;
    top: 16px;
    left: -1px;
    overflow: hidden;
}

code.javascript {
    border: 0;
    font-size: 24px;
    white-space: pre;
}

code.javascript span.comment {
    font-style: italic;
}

code.javascript span.keyword {
    font-weight: bold;
}

.hidden {
    display: none;
}

#eslint {
    z-index: 9;
    position: absolute;
    left: 0;
    top: 0;
    padding: 4px;
    font-family: Verdana, Arial;
    font-size: 24px;
}

#eslint a.severity2 {
    color: red;
    text-decoration: none;
}

#filename {
    z-index: -1;
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 8em;
}

/* Annotations */

div.line.expandable .expand-button {
    border-radius: 4px;
    font-size: 0.6em;
    cursor: pointer;
}

div.line.collapsed {
    display: none;
}

div.line.collapsed.show {
    display: block;
}
